#new-music{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    background-color: darkgrey;
    border-radius: 5px;
    padding: 10px;
}


#new-music input{
height: 30px;
}


#new-music input[type="file"]{
    height: auto;
    width: 100%;
}


#new-music input[type="submit"]{
    height: auto;
}


.acf-fields>.acf-field{
    border-top: none !important;
}